/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Gilroy", sans-serif;
  margin-bottom: 400px;
}
button {
  text-transform: uppercase;
  border: none;
  font-size: 18px;
}
p{
  font-size: 20px;
  line-height: 140.62%;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
:root {
  --theme-color: rgb(247, 148, 30);
  --theme-color-2: rgb(241, 241, 242);
  --txt-color:#fff;
  --txt-color-2:#000;
}
/* header start  */
.header-main {
  padding: 35px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav > li:not(:last-child) {
  margin-right: 30px;
}
.gift-btn {
  background-color: transparent;
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
  padding: 10px 25px;
  border-radius: 5px;
}
/* header end  */
/* hero start  */
.hero-main {
  background: url("../img/hero-top.webp") no-repeat top right,
    url("../img/hero-bottom.webp") no-repeat bottom left;
  background-color: var(--theme-color-2);
  height: 1300px;
  position: relative;
}
.hero-top-content{
  width: 430px;
  padding: 155px 845px 135px 162px;
}
.hero-title-top {
  font-size: 56px;
  line-height: 69px;
  margin-bottom: 35px;
}
.hero-top-btn{
  margin-top: 50px;
  color: var(--txt-color);
  background-color: var(--theme-color);
  padding: 15px 25px;
  border-radius: 5px;
}
.hero-bottom-content{
  width: 440px;
  padding: 165px 166px 105px 833px;
}
.hero-title-bottom{
  font-size: 32px;
  margin-bottom: 30px;
}
.hero-bottom-btn{
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
  border-radius: 5px;
  padding: 15px 45px;
  margin-top: 35px;
}
/* hero end  */
